<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrivacyAccessedAPITypes</key>
	<array>
		<dict>
			<key>NSPrivacyAccessedAPIType</key>
			<string>NSPrivacyAccessedAPICategoryFileTimestamp</string>
			<key>NSPrivacyAccessedAPI</key>
			<dict>
				<key>.creationDate</key>
				<string>C617.1</string>
				<key>NSFileCreationDate</key>
				<string>C617.1</string>
				<key>.modificationDate</key>
				<string>C617.1</string>
				<key>NSFileModificationDate</key>
				<string>C617.1</string>
				<key>.fileModificationDate</key>
				<string>C617.1</string>
				<key>fileModificationDate]</key>
				<string>C617.1</string>
				<key>.contentModificationDateKey</key>
				<string>C617.1</string>
				<key>NSURLContentModificationDateKey</key>
				<string>C617.1</string>
				<key>.creationDateKey</key>
				<string>C617.1</string>
				<key>NSURLCreationDateKey</key>
				<string>C617.1</string>
				<key>getattrlist(</key>
				<string>C617.1</string>
				<key>getattrlistbulk(</key>
				<string>C617.1</string>
				<key>fgetattrlist(</key>
				<string>C617.1</string>
				<key>= stat()</key>
				<string>C617.1</string>
				<key>fstat(</key>
				<string>C617.1</string>
				<key>fstatat(</key>
				<string>C617.1</string>
				<key>lstat(</key>
				<string>C617.1</string>
				<key>getattrlistat(</key>
				<string>C617.1</string>
			</dict>
			<key>NSPrivacyAccessedAPITypeReasons</key>
			<dict>
				<key>DDA9.1</key>
				<string>声明此原因以向使用该设备的人员显示文件时间戳。出于此原因访问的信息或任何派生信息可能不会发送到设备外。</string>
				<key>C617.1</key>
				<string>声明此原因以访问应用程序容器、应用程序组容器或应用程序的 CloudKit 容器内的文件的时间戳、大小或其他元数据</string>
				<key>3B52.1</key>
				<string>声明此原因以访问用户明确授予访问权限的文件或目录的时间戳、大小或其他元数据，例如使用文档选择器视图控制器。

</string>
				<key>0A2A.1</key>
				<string>如果您的第三方 SDK 提供文件时间戳 API 的包装函数供应用程序使用，并且您仅在应用程序调用您的包装函数时才访问文件时间戳 API，请声明此原因。此原因只能由第三方 SDK 声明。如果您的第三方 SDK 主要是为了包装所需的原因 API 而创建的，则可能不会声明此原因。

出于此原因访问的信息或任何派生信息不得用于第三方 SDK 自身的目的，也不得由第三方 SDK 发送至设备外。</string>
			</dict>
		</dict>
		<dict>
			<key>NSPrivacyAccessedAPIType</key>
			<string>NSPrivacyAccessedAPICategorySystemBootTime</string>
			<key>NSPrivacyAccessedAPI</key>
			<dict>
				<key>systemUptime]</key>
				<string>35F9.1</string>
				<key>.systemUptime</key>
				<string>35F9.1</string>
				<key>mach_absolute_time()</key>
				<string>35F9.1</string>
			</dict>
			<key>NSPrivacyAccessedAPITypeReasons</key>
			<dict>
				<key>35F9.1</key>
				<string>声明此原因以访问系统引导时间，以测量应用程序内发生的事件之间的时间间隔，或执行计算以启用计时器。因此而访问的信息或任何派生的信息都不能从设备上发送。关于应用程序中发生的事件之间的时间间隔的信息有一个例外，这些信息可以通过设备发送。</string>
			</dict>
		</dict>
		<dict>
			<key>NSPrivacyAccessedAPIType</key>
			<string>NSPrivacyAccessedAPICategoryDiskSpace</string>
			<key>NSPrivacyAccessedAPI</key>
			<dict>
				<key>.volumeAvailableCapacityKey</key>
				<string>E174.1</string>
				<key>NSURLVolumeAvailableCapacityKey</key>
				<string>E174.1</string>
				<key>.volumeAvailableCapacityForImportantUsageKey</key>
				<string>E174.1</string>
				<key>NSURLVolumeAvailableCapacityForImportantUsageKey</key>
				<string>E174.1</string>
				<key>.volumeAvailableCapacityForOpportunisticUsageKey</key>
				<string>E174.1</string>
				<key>NSURLVolumeAvailableCapacityForOpportunisticUsageKey</key>
				<string>E174.1</string>
				<key>.volumeTotalCapacityKey</key>
				<string>85F4.1</string>
				<key>NSURLVolumeTotalCapacityKey</key>
				<string>85F4.1</string>
				<key>.systemFreeSize</key>
				<string>E174.1</string>
				<key>NSFileSystemFreeSize</key>
				<string>E174.1</string>
				<key>.systemSize</key>
				<string>E174.1,85F4.1</string>
				<key>NSFileSystemSize</key>
				<string>E174.1,85F4.1</string>
				<key>statfs(</key>
				<string>E174.1,85F4.1</string>
				<key>statvfs(</key>
				<string>E174.1,85F4.1</string>
				<key>fstatfs(</key>
				<string>E174.1,85F4.1</string>
				<key>fstatvfs(</key>
				<string>E174.1,85F4.1</string>
				<key>getattrlist(</key>
				<string>E174.1,85F4.1</string>
				<key>fgetattrlist(</key>
				<string>E174.1,85F4.1</string>
				<key>getattrlistat(</key>
				<string>E174.1,85F4.1</string>
			</dict>
			<key>NSPrivacyAccessedAPITypeReasons</key>
			<dict>
				<key>85F4.1</key>
				<string>声明此原因以向使用该设备的人员显示磁盘空间信息。磁盘空间可以以信息单位（例如字节）或与媒体类型结合的时间单位（例如高清视频的分钟）来显示。出于此原因访问的信息或任何派生信息可能不会发送到设备外。有一个例外，允许应用程序通过本地网络将磁盘空间信息发送到同一个人操作的另一台设备，仅用于显示该设备上的磁盘空间信息；此例外仅适用于用户明确允许发送磁盘空间信息的情况，并且该信息不得通过 Internet 发送。</string>
				<key>E174.1</key>
				<string>声明此原因是为了检查是否有足够的磁盘空间来写入文件，或者检查磁盘空间是否不足，以便应用程序可以在磁盘空间不足时删除文件。应用程序必须根据磁盘空间以用户可观察到的方式表现不同。出于此原因访问的信息或任何派生信息可能不会发送到设备外。有一个例外，允许应用程序在磁盘空间不足时避免从服务器下载文件。</string>
				<key>7D9E.1</key>
				<string>声明此原因以在使用设备的人员选择提交的可选错误报告中包含磁盘空间信息。磁盘空间信息必须作为报告的一部分突出地显示给相关人员。仅在用户明确选择提交包括磁盘空间信息的特定错误报告之后，并且仅出于调查或响应错误报告的目的，因此访问的信息或任何派生信息才可以发送到设备外。</string>
			</dict>
		</dict>
		<dict>
			<key>NSPrivacyAccessedAPIType</key>
			<string>NSPrivacyAccessedAPICategoryActiveKeyboards</string>
			<key>NSPrivacyAccessedAPI</key>
			<dict>
				<key>.activeInputModes</key>
				<string>54BD.1</string>
				<key>activeInputModes]</key>
				<string>54BD.1</string>
			</dict>
			<key>NSPrivacyAccessedAPITypeReasons</key>
			<dict>
				<key>3EC4.1</key>
				<string>如果您的应用程序是自定义键盘应用程序，并且您访问此 API 类别以确定设备上活动的键盘，请声明此原因。为用户提供系统范围的自定义键盘必须是应用程序的主要功能。出于此原因访问的信息或任何派生信息可能不会发送到设备外。</string>
				<key>54BD.1</key>
				<string>声明此原因以访问活动键盘信息，以便向使用该设备的人员呈现正确的自定义用户界面。应用程序必须具有用于输入或编辑文本的文本字段，并且必须以用户可观察到的方式根据活动键盘采取不同的行为。出于此原因访问的信息或任何派生信息可能不会发送到设备外。</string>
			</dict>
		</dict>
		<dict>
			<key>NSPrivacyAccessedAPIType</key>
			<string>NSPrivacyAccessedAPICategoryUserDefaults</string>
			<key>NSPrivacyAccessedAPI</key>
			<dict>
				<key>UserDefaults.</key>
				<string>CA92.1</string>
				<key>UserDefaults alloc</key>
				<string>CA92.1</string>
				<key>UserDefaults standard</key>
				<string>CA92.1</string>
			</dict>
			<key>NSPrivacyAccessedAPITypeReasons</key>
			<dict>
				<key>CA92.1</key>
				<string>声明此原因以访问用户默认读取和写入只能由应用程序本身访问的信息。此原因不允许读取其他应用程序或系统写入的信息，或写入可由其他应用程序访问的信息。</string>
				<key>1C8F.1</key>
				<string>声明此原因以访问用户默认值以读取和写入仅可由与应用程序本身属于同一应用程序组的成员的应用程序、应用程序扩展和应用程序剪辑访问的信息。此原因不允许读取由同一应用程序组外部的应用程序、应用程序扩展或应用程序剪辑或系统写入的信息。此原因也不允许写入可由同一应用程序组外部的应用程序、应用程序扩展或应用程序剪辑访问的信息。</string>
				<key>C56D.1</key>
				<string>如果您的第三方 SDK 围绕用户默认 API 提供包装函数供应用程序使用，并且您仅在应用程序调用您的包装函数时才访问用户默认 API，请声明此原因。此原因只能由第三方 SDK 声明。如果您的第三方 SDK 主要是为了包装所需的原因 API 而创建的，则可能不会声明此原因。出于此原因访问的信息或任何派生信息不得用于第三方 SDK 自身的目的，也不得由第三方 SDK 发送至设备外。</string>
				<key>AC6B.1</key>
				<string>声明此原因以访问用户默认读取密钥以检索 MDM 设置的托管应用程序配置，或设置密钥以存储要通过 MDM 查询的反馈信息，如 Apple 移动设备管理协议参考文档中所述。com.apple.configuration.managedcom.apple.feedback.managed</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
